{{!< default}}
<aside class="night-toggle" onclick="nightMode()"></aside>
<section class="blog-list">
	{{#foreach posts}}
	<article class="blog-post {{post_class}}">
		<header class="post-header">
			<a href="{{url}}"><h2>{{{title}}}</h2></a>
		</header>
		<section class="post-content">
		<p>{{excerpt}}&hellip;</p>
		</section>
		<footer class="post-footer">
			<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
		</footer>
	</article>
	{{/foreach}}
</section>
<footer class="blog-footer">
	{{pagination}}
</footer>